

html, body, .page {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', 'lato', 'helvetica', sans-serif;
  overflow: auto;
}

.content{
   position: fixed;
   width: 100%;
   height: 100%;
}

.navstyle{
  background-color:#333;
  color:#fff;
}

#p1 { background: #b3d9ff; }
#p2 { background: tomato; }
#p3 { background: gold; }
#p4 { background: deeppink; }
#p5 { background: rebeccapurple; }
#p6 { background: darkgreen; }

.ic-navbar { 
  width: 18px;
  height: 18px;
}

.dashboard{

max-width: 300px;
margin: 30px auto;
position: relative;
//background:lightgrey;
}

/****** terminal start ********/

.console-container{
  margin: 80px auto;
  height: 50%;
  width: 70%;
  max-height: 400px;
  max-width: 900px;
}
.console-style{
  width: 100%;
  font-family: 'Courier';
  font-size: 12px;
  color: black;
  line-height: 1.3;
  padding: 8px;
  border: 1px solid black;
  outline: none;
}
.console-window{
  height: 100%;
  resize: none;
  overflow-y: scroll;
  overflow-x: hidden;  
}
/****** terminal end ********/
  
.table-container{
  //position: relative;
  margin: 80px auto;
  height: 50%;
  width: 70%;
  max-height: 400px;
  max-width: 900px;
  overflow: auto;
  //background:lightgrey;
}






